*{
  padding: 0;
  margin: 0;
}
nav ul {
   list-style: none;
}

nav > ul > li {
   float: left;
}


 a {
   text-decoration: none;
}

li:hover {
  transition: 0.7s;
   background-color: #950740;
   cursor: pointer;

}

nav ul ul {
   display: none;
   position: absolute;
}

li:hover ul {
   display: block;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.q{
  display:flex;
  flex-direction:column;

}

.w{
  display: flex;
  align-items: center;
}


.one{
  font-family: 'Roboto';
  background-color: #e3e3e3;
  font-size: 45px;
}

.two{
  font-family: 'Roboto';
  font-size: 45px;
  background-color: #e3e3e3;
  opacity: 0.7;
}

.ab{
  padding-left: 500px;
  padding-right: 25px;
}


.x{
  padding-left: 25px;
  padding-right: 340px;
}

.c{
  padding-left: 5px;
  padding-right: 5px;
}
