.thefirst {
    background-color:rgb(240, 240, 240) ;
    font-size:25px ;
    border: none;
    padding-right: 20px;
    font-family: 'Roboto';
}

.thesecond {
  border: none;
  background-color:rgb(54, 53, 53);
  color: white;
  font-size:25px ;
  font-family: 'Roboto';
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Dropdown menu for vertically menu */

.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
  
.dropdown-content a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

  
.dropdown:hover .dropbtn {
  background-color:#23ac7a;;
  padding-right: 332px;
}
  
/* Dropdown menu for horizontally menu*/

.dropdowngor {
  position: relative;
  display: inline-block;
}
  
.goriz{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.goriz a {
  color: rgb(54, 53, 53);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdowngor:hover .goriz {
  display: block;
}

.dropdowngor:hover .thesecond {
  background-color: #23ac7a;
}

.table {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 25px;
}

.gorizontal {
  display: flex;
}

.vertical {
  background-color: rgb(240, 240, 240);
}

.one {
  background-color: rgb(240, 240, 240);
  padding-right: 350px;
}

.ver {
  padding-left: 5px;
}

.second {
  margin-top: 20px;
}

.first {
  color:white;
  background-color:rgb(54, 53, 53);
}

.gori {
  padding-left: 500px;
  padding-right: 15px;
  padding-top: 10px;
}

.two {
  background-color:rgb(54, 53, 53);
  padding:10px;
}

.gor {
  padding: 10px;
}

.a {
  margin-top: 20px;
}

/* cursor pointer and the chanche color*/

.home {
  transition: 1s all;
}

.home:hover {
  cursor: pointer;
  background-color: #337735;
}

.clas {
  transition: 1s all;
}

.clas:hover {
  background-color: #23ac7a;
  cursor: pointer;
}

#num {
  transition: 1s all;
}

#num:hover {
  background-color:#23ac7a;
}

#ema {
  transition: 1s all;
}

#ema:hover {
  background-color:#23ac7a;
}

.class {
  transition: 1s all;
}

.class:hover {
  background-color: #23ac7a;
  cursor: pointer;
}

#pho {
  transition: 1s all;
}

#pho:hover {
  background-color:#23ac7a;
}

#email {
  transition: 1s all;
}

#email:hover {
  background-color:#23ac7a;
}