.content {
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: 128px;
}

.text {
  filter: blur(5px);
  transition: 1s all;
}

.text:hover {
  filter: unset;
  cursor: pointer;
}
